:root {
  font-family: 'DM Sans', Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    color: #222;
}


h1, h2{
    font-family: 'DM Serif', system-ui, Avenir, Helvetica, Arial, sans-serif;
}

img{
    max-width: 100%;
}

form{
    position: relative;
    border: 1px solid gainsboro;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    height: 60vh;
}


form h2{
    position: absolute;
    width: 50%;
    padding: 1em 0 .5em 7.5%;
}

input{
    font-family: inherit;
    padding: 1em;
    width: 100%;
}

form#login input:not([type="submit"]), form#register input:not([type="submit"]){
    border: none;
    outline: .5px solid black;
}

form#login input:not([type="submit"]):focus, form#register input:not([type="submit"]):focus{
    outline: 2px solid #2f4f4f;
}

form#login input:not([type="submit"]):hover, form#register input:not([type="submit"]):hover{
    outline: 1px solid #4682b4;
}

form input[type="submit"]{
    cursor: pointer;
    font-size: 1.05rem;
    border: 1px double #2f4f4f;
    transition: all .2s ease;
}

form input[type="submit"]:hover{
    background-color: #2f4f4f;
    color: #fefefe;
    letter-spacing: 1.5px;
}


form #datas{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7%;
    flex-direction: column;
    margin: 5% 15% 0 15%;
}

form #sideImage{
    clip-path: polygon(12% 0%, 100% 0%, 100% 100%, 0% 100%);
}

form#login #sideImage{
    background: url('login.jpg') no-repeat center;
    background-size: cover;
}

form#register #sideImage{
    background: url('register.jpg') no-repeat center; 
    background-size: cover;
}

